# Project name: NOS (Null Operating System).
# Description: Monolithic UNIX-like operating system.
# Licence: GPL-3.0.
# Author: Alexander (@alkuzin).

.vscode/
target/
build/
.idea/
iso/
tmp/
*.txt
*.iso
*.log
*.o
*.a